body{
    background-color: #BEBEF0

}

.login-message{
    display: grid;
    justify-content: center;
    font-size: 18px;
}

.login-message-error{
    display: grid;
    justify-content: end;
    color: red;
    font-size: 18px;
}
